
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    font-size: 40px;
}
.container {
    width: 1000px;
    margin: 0 auto;
}
.col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
    margin-bottom: 20px;
    padding: 0 10px;
    float: left;
    background-color: #7ec0ee;
    border: 1px solid #ffa500;
    text-align: center;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    clear: both;
}
.col-12 {
    width: 100%;
}
.col-11 {
    width: 91.66%;
}
.col-10 {
    width: 83.33%;
}
.col-9 {
    width: 75%;
}
.col-8 {
    width: 66.66%;
}
.col-7 {
    width: 58.33%;
}
.col-6 {
    width: 50%;
}
.col-5 {
    width: 41.67%;
}
.col-4 {
    width: 33.33%;
}
.col-3 {
    width: 25%;
}
.col-2 {
    width: 16.66%;
}
.col-1 {
    width: 8.33%;
}
@media only screen and (max-width: 767px) {
    
    .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2 {
        width: 100%;
    }
    .col-1 {
        width: 50%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .col-11, .col-10, .col-9, .col8, .col-7, .col-6, .col-5 {
        width: 100%;
    }
    .col-3 {
        width: 50%;
    }
    .col-2 {
        width: 33.33%;
    }
    .col-1 {
        width: 16.66%;
    }
}