* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
}

.row {
    background:#f4f4f4;
    width: 100%;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
}
 .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 0 15px;
    text-align: center;
}
.row .col-12 {
    width: 100%;
}
.row .col-11 {
    width: 91.66%;
}
.row .col-10 {
    width: 83.33%;
}
.row .col-9 {
    width: 75%;
}
.row .col-8 {
    width: 66.66%;
}
.row .col-7 {
    width: 41.66%;
}
.row .col-6 {
    width: 50%;
}
.row .col-5 {
    width: 58.33%;
}
.row .col-4 {
    width: 33.33%;
}
.row .col-3 {
    width: 25%;
}
.row .col-2 {
    width: 16.66%;
}
.row .col-1 {
    width: 8.33%;
}


.row:nth-child(even){
    background-color: #808080;
}

@media only screen and (max-width:767px){
 
    .row {
        flex-direction: column;
        padding: 0;
    }
    .row. col-1, .row .col-2, .row .col-3, .row .col-4, .row .col-5, .row .col-6, .row .col-7, .row .col-8, .row .col-9, .row .col-10, .row .col-11, .row .col-12 {
        width: 100%;
        padding: 10px 15px;
    }
}
@media only screen and (min-width:768px) and (max-width:1024px ){
    .row:nth-child(4), .row:nth-child(6) {
        flex-wrap: wrap;
    }
    .row .col-3, .row .col-4 {
        width: 50%;
    }
    .row .col-1 {
        width: 16.66%;
    }  
    .row .col-2 {
        width: 33.33%;
    } 
    .row .col-8, .row .col-9 {
        width: 66.66%;
    }
    .row .col-11 {
        width: 83.33%;
    }
    .row .col-10 {
        width: 66.66%;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        padding: 10px 15px;
        text-align: center;
    }
}