
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}

.container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6,1 fr)
}
.half, .third, .quarter, .fifth, .seventh, .sixth {
    

}
.row1, .row2, .row3, .row4, .row5, .row6 {
    width: 100%;
    
}
.full {
    width: 100%;
}
.half {
    width: 50%;
}
.third {
    width: 33.33%;
}
.quarter {
    width: 25%;
}
.fifth {
    width: 41.67%;
}
.seventh {
    width: 58.33%;
}
.sixth {
 
    width: 16.67%;
}